<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles/style.css">
</head>
<body>
    <section class="callout container">
        <img class="banner__image" src="../images//hosts.webp" alt="Hosts">
        <div class="grid grid--1x3">
            <div class="callout__component">
                <h3 class="callout__heading">One-to-one guidance from superhost</h3>
                <p class="callout__text">
                    We'll match your with a Superhost in your area. who'll guide your from your
                    first question to your first guest--by phone, video call, or chat.
                </p>
            </div> 
            <div class="callout__component">
                <h3 class="callout__heading">One-to-one guidance from superhost</h3>
                <p class="callout__text">
                    We'll match your with a Superhost in your area. who'll guide your from your
                    first question to your first guest--by phone, video call, or chat.
                </p>
            </div> 
            <div class="callout__component">
                <h3 class="callout__heading">One-to-one guidance from superhost</h3>
                <p class="callout__text">
                    We'll match your with a Superhost in your area. who'll guide your from your
                    first question to your first guest--by phone, video call, or chat.
                </p>
            </div> 
        </div> 
    </section>
</body>
</html>