<div class="card">
    <img class="card__img" src="/images/mariam.avif" alt="Mariam">
    <h3 class="card__heading">Mariam</h3>
    <h4 class="card__text">Co-Host in Los Angeles, USA</h4>
    <div class="card__info">
        <div class="card__info__rating">
            <h3>4.96</h3>
            <p>guest rating</p>
        </div>
        <div class="card__divider"></div>
        <div class="card__info__years">
            <h3>4</h3>
            <p>years hosting</p>
        </div>
    </div>
</div>