<div class="collapsible">
    <div class="collapsible__header">
        <h3 class="collapsible__heading">Is my place right for Airbnb?</h3>
        <svg class="icon icon--large collapsible__chevron">
            <use xlink:href="icons/chevron-sprite.svg#chevron"></use>
        </svg>
    </div>
    <div class="collapsible__content">
        <p class="collapsible__details">
            Airbnb guests are interested in all kinds of places. We have listings 
            for tiny homes, cabins, tree houses, and more. 
            Even a spare room can be a great place to stay.
        </p>
    </div>
</div>
<div class="collapsible">
    <div class="collapsible__header">
        <h3 class="collapsible__heading">Is my place right for Airbnb?</h3>
        <svg class="icon icon--large collapsible__chevron">
            <use xlink:href="icons/chevron-sprite.svg#chevron"></use>
        </svg>
    </div>
    <div class="collapsible__content">
        <p class="collapsible__details">
            Airbnb guests are interested in all kinds of places. We have listings 
            for tiny homes, cabins, tree houses, and more. 
            Even a spare room can be a great place to stay.
        </p>
    </div>
</div>
<div class="collapsible">
    <div class="collapsible__header">
        <h3 class="collapsible__heading">Is my place right for Airbnb?</h3>
        <svg class="icon icon--large collapsible__chevron">
            <use xlink:href="icons/chevron-sprite.svg#chevron"></use>
        </svg>
    </div>
    <div class="collapsible__content">
        <p class="collapsible__details">
            Airbnb guests are interested in all kinds of places. We have listings 
            for tiny homes, cabins, tree houses, and more. 
            Even a spare room can be a great place to stay.
        </p>
    </div>
</div>