<section class="features container">
    <header class="features__header">
        <img class="features__image" src="./images/aircover.webp" alt="">
        <h3 class="features__heading">Airbnb it with top-to-bottom protection</h3>
    </header>
    <article class="feature__article">
        <div class="article__content article__content__header">
            <h3 class="article__heading"></h3>
            <h4 class="article__heading__minor article__content__center">Airbnb</h4>
            <h4 class="article__heading__minor article__content__center">Competitors</h4>
        </div>
    </article>
    <article class="feature__article">
        <div class="article__content">
            <h3 class="article__heading">Guest identity verification</h3>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/cancelsprite.svg#cancel2-svgrepo-com"></use>
            </svg>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/check-green-sprite.svg#check-green"></use>
            </svg>
        </div>
        <p class="article__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, maiores</p>
    </article>
    <article class="feature__article">
        <div class="article__content">
            <h3 class="article__heading">Reservation Screening</h3>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/cancelsprite.svg#cancel2-svgrepo-com"></use>
            </svg>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/check-green-sprite.svg#check-green"></use>
            </svg>
        </div>
        <p class="article__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, maiores</p>
    </article>
    <article class="feature__article">
        <div class="article__content">
            <h3 class="article__heading">$3M USD Damage Protection</h3>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/cancelsprite.svg#cancel2-svgrepo-com"></use>
            </svg>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/check-green-sprite.svg#check-green"></use>
            </svg>
        </div>
        <p class="article__description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Cupiditate, maiores</p>
    </article>
    <article class="feature__article">
        <div class="article__content">
            <h3 class="article__heading article__heading__minor">Art & Valuables</h3>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/cancelsprite.svg#cancel2-svgrepo-com"></use>
            </svg>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/check-green-sprite.svg#check-green"></use>
            </svg>
        </div>
    </article>
    <article class="feature__article">
        <div class="article__content">
            <h3 class="article__heading article__heading__minor">Auto & Boat</h3>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/cancelsprite.svg#cancel2-svgrepo-com"></use>
            </svg>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/check-green-sprite.svg#check-green"></use>
            </svg>
        </div>
    </article>
    <article class="feature__article">
        <div class="article__content">
            <h3 class="article__heading article__heading__minor">Pet Damage</h3>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/cancelsprite.svg#cancel2-svgrepo-com"></use>
            </svg>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/check-green-sprite.svg#check-green"></use>
            </svg>
        </div>
    </article>
    <article class="feature__article">
        <div class="article__content">
            <h3 class="article__heading article__heading__minor">Income Loss</h3>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/cancelsprite.svg#cancel2-svgrepo-com"></use>
            </svg>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/check-green-sprite.svg#check-green"></use>
            </svg>
        </div>
    </article>
    <article class="feature__article">
        <div class="article__content">
            <h3 class="article__heading article__heading__minor">Deep Cleaning</h3>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/cancelsprite.svg#cancel2-svgrepo-com"></use>
            </svg>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/check-green-sprite.svg#check-green"></use>
            </svg>
        </div>
    </article>
    <article class="feature__article">
        <div class="article__content">
            <h3 class="article__heading">24-Hour Safety Line</h3>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/cancelsprite.svg#cancel2-svgrepo-com"></use>
            </svg>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/check-green-sprite.svg#check-green"></use>
            </svg>
        </div>
        <p class="article__description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quidem, dicta!</p>
    </article>
    <article class="feature__article">
        <div class="article__content">
            <h3 class="article__heading">$1M USD Liability Insurance</h3>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/cancelsprite.svg#cancel2-svgrepo-com"></use>
            </svg>
            <svg class="icon--large article__content__center">
                <use xlink:href="icons/check-green-sprite.svg#check-green"></use>
            </svg>
        </div>
        <p class="article__description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, voluptas!</p>
    </article>
    <div class="features__disclaimer">
        <p class="article__description">
            Comparision based on public information and free offerings by top Competitors as of 10/22.
            <a class="feature__disclaimer__link" href="#">Find details and exclusions here</a>
        </p>
    </div>
    <footer class="features__footer">
        <button class="btn btn--transparent btn--less-rounded">Learn More</button>
    </footer>
</section>