<footer class="footer">
    <div class="footer__grid container--large">
        <div class="footer__list">
            <ul class="list">
                <li class="list__item">Support</li>
                <li class="list__item">Help Center</li>
                <li class="list__item">AirCover</li>
                <li class="list__item">Anti-discrimination</li>
                <li class="list__item">Disability Support</li>
                <li class="list__item">Cancellation Options</li>
                <li class="list__item">Report neighbourhood concern</li>
            </ul>
        </div>
        <div class="footer__list">
            <ul class="list">
                <li class="list__item">Hosting</li>
                <li class="list__item">Airbnb your home</li>
                <li class="list__item">AirCover for Hosts</li>
                <li class="list__item">Hosting resouces</li>
                <li class="list__item">Community Forum</li>
                <li class="list__item">Hosting responsibly</li>
                <li class="list__item">Join a free hosting class</li>
                <li class="list__item">Find a co-host</li>
            </ul>
        </div>
        <div class="footer__list">
            <ul class="list">
                <li class="list__item">Airbnb</li>
                <li class="list__item">Newsroom</li>
                <li class="list__item">New features</li>
                <li class="list__item">Careers</li>
                <li class="list__item">Investors</li>
                <li class="list__item">Gift cards</li>
                <li class="list__item">Airbnb.org emergency stays</li>
            </ul>
        </div>
    </div>
    <div class="footer__info">
        <div class="footer__info__legal">
            <h3 class="footer__info__heading">Englist (CA)    $ CAD</h3>
            <p class="footer__info__text">2024 Airbnb, Inc.</p>
            <span class="footer__links">
                <a href="#">Privacy</a>
                <a href="#">Terms</a>
                <a href="#">Sitemap</a>
            </span>
        </div>
        <div class="footer__socials">
            <h3 class="footer__info__heading">Englist (CA)    $ CAD</h3>
            <img class="footer__socials__icon" src="./images/instgram.png" alt="Instgram">
            <img class="footer__socials__icon" src="./images/x.png" alt="X">
            <img class="footer__socials__icon" src="./images/tiktok.png" alt="TikTok">
        </div>
    </div>
</footer>