<section class="block block--medias container">
    <header class='block__header medias__header'>
        <h2>Co-hosts can do it all</h2>
    </header>
    <div class="grid grid--1x2 medias">
        <div class="media">
            <img class="media__img" src="./images/camera.webp" alt="Camera">
            <div class="media__content">
                <h3 class="media__heading">Set up your listing</h3>
                <p class="media__description">Take photos, set prices, and create an arrival guide</p>
            </div>
        </div>
        <div class="media">
            <img class="media__img" src="./images/cleaner.webp" alt="Clean">
            <div class="media__content">
                <h3 class="media__heading">Set up your listing</h3>
                <p class="media__description">Prepare, clean, and maintain your home</p>
            </div>
        </div>
        <div class="media">
            <img class="media__img" src="./images/calendar.webp" alt="calendar">
            <div class="media__content">
                <h3 class="media__heading">Manage your reservations</h3>
                <p class="media__description">Stay on top of your bookings and guest meetings</p>
            </div>
        </div>
        <div class="media">
            <img class="media__img" src="./images/keys.webp" alt="Keys">
            <div class="media__content">
                <h3 class="media__heading">Assist your guests</h3>
                <p class="media__description">Handle check-ins, checkouts, and on-site requests</p>
            </div>
        </div>
    </div>
    <button class="btn btn--block btn--black medias__btn">Get Started</button>
</section>