<section class="block block--more-questions">
    <div class="container grid grid--1x2 more-questions">
        <img class="more-questions__image" src="./images/more-questions.webp" alt="">
        <div class="more-questions__content">
            <h3 class="more-questions__content__heading">Still have more questions?</h3>
            <p class="more-questions__content__description">Get answers from an experienced Superhost near you.</p>
            <button class="btn btn--transparent btn--less-rounded">Match with a Superhost</button>
        </div>
    </div>
</section>