<div class="progress__display">
    <h3 class="progress__display__title">AirBnb it.</h3>
    <h3 class="progress__display__simple">You could earn</h3>
    <h3 class="progress__display__dynamic"></h3>
    <h4 class="progress__calculation__description"><span>1 day</span> at an estimated $110 CAD per night</h4>
</div>
<div class="draggable__progress-bar">
    <div class="draggable__progress-bar__progress"></div>
    <div class="progress__nights">1 Day</div>
    <div class="draggable__progress-bar__button"></div>
</div>