<section class="block block--tag">
    <div class="icon--lists">
        <div class="tag">
            <span class="icon-container tag__icon">
                <svg class="icon">
                    <use xlink:href="icons/airsprites.svg#home"></use>
                </svg>
            </span>
            <h3 class="tag__heading">Create a listing for your place in just a few steps</h3>
        </div>
        <div class="tag">
            <span class="icon-container tag__icon">
                <svg class="icon">
                    <use xlink:href="icons/airsprites.svg#home"></use>
                </svg>
            </span>
            <h3 class="tag__heading">Create a listing for your place in just a few steps</h3>
        </div>
        <div class="tag">
            <span class="icon-container tag__icon">
                <svg class="icon">
                    <use xlink:href="icons/airsprites.svg#home"></use>
                </svg>
            </span>
            <h3 class="tag__heading">Create a listing for your place in just a few steps</h3>
        </div>
    </div>
    <button class="btn btn--black tag__btn">List your home</button>
</section>